header {
  background-color: rgb(27, 41, 54);
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgba(179, 179, 179, 0.5);
}

.logo{
  width: 6%;
  height: 6%;
}
.term-font {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  border-bottom: 2px solid black;
  color: black;

}
nav {
  background-color: rgb(27, 41, 54);
  text-align: center;
}
nav a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-family:  Georgia, Times, 'Times New Roman', serif ;
  font-size: 1.2em;
  background-color: rgb(27, 41, 54);
  color: rgb(255, 255, 255);
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: rgb(239, 255, 0);
  border-bottom: 2px solid rgb(239, 255, 0);
}

nav a.active {
  background-color: rgb(239, 255, 0);
  color: rgb(27, 41, 54);
}
.search-image{
  background: transparent;
  border: 0px;
  width: 5%;
  height: 5%;
}
#search-label{
  text-align: center;
  font-family: Georgia, Times, 'Times New Roman', serif ;
  font-size: 24px;
  width:100%;
  flex-direction: row;
  align-items: center;
}
#searchbar-container{
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

#input-container{
  align-items: center;
  flex-direction: column;
  display: flex
}
.vocab-cards{
  align-items: center;
  /* flex-direction: inherit; */
  display: inline-block;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}
.cards {
  padding: 5rem 0;
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.9rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
  
}
.cohort-form form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(179, 179, 179, 0.5);
}

.cohort-form form {
  display: flex;
  justify-content: center;
}

.cohort-form input {
  margin-right: 2rem;
  flex: 1;
}

.cohort-form button {
  width: 150px;
}
.vocab-form form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(179, 179, 179, 0.5);
}

.vocab-form form {
  display: flex;
  justify-content: center;
}

.vocab-form input {
  margin-right: 2rem;
  flex: 1;
}

.vocab-form button {
  width: 150px;
}
.search-container {
  text-align: center;
}

.search-container input {
  text-align: center;
  font-family: Georgia, Times, 'Times New Roman', serif ;
  font-size:3em;
  width:40%;
  border-radius: 4em;;
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}
